{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"objectWrap": "preserve",
	"printWidth": 120,
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
